<!DOCTYPE html>
<html>
<head>
	<title id = 'title'>Admin</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/fontawesome/releases_v5.0.13/css/all.css">
	<link rel="stylesheet" href="/css/components/content.css">
	<link rel="stylesheet" href="/css/components/header.css">
	<link rel="stylesheet" href="/css/components/sidebar.css">
	<link rel="stylesheet" href="/css/components/modal.css">
	<link rel="stylesheet" href="/css/pages/control.css">
	<link rel="stylesheet" href="/css/components/table.css">
	<link rel="stylesheet" href="/css/common/typography.css">
	<link rel="stylesheet" href="/css/pages/company.css">
</head>
<body>
	<div class="layout">
		<% include ./partial/aside%>
		<main class="content collapse">
			<div class="page">
				<header class="header-page">
					<div class="header-tabs" id = 'nav'></div>
				</header>
				<div class="content-page" id = 'content-page'></div>
				<!-- <form  method="post" id='form'>
				    <select id="dictionary" required>
				      <option value="#">Select dictionary</option>
				      <option value="category">add category </option>
				      <option value="attribute">add attribute </option>
				      <option value="product">add product </option>
				      <option value="unit">add unit </option>
				      <option value="valute">add valute </option>
				    </select>
				   <div id="append">
				</form> -->
			</div>
		</main>
	</div>

</body>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/control.js"></script>
	<script type="text/javascript" src="/js/control/product.js"></script>
	<script type="text/javascript" src="/js/control/category.js"></script>
	<script type="text/javascript" src="/js/control/attribute.js"></script>
	<script type="text/javascript" src="/js/control/unit.js"></script>
	<script type="text/javascript" src="/js/control/valute.js"></script>
	<script type="text/javascript" src="/js/control/cargoType.js"></script>
	<script type="text/javascript" src="/js/control/tailsType.js"></script>
	<script type="text/javascript" src="/js/control/uploadType.js"></script>
	<script type="text/javascript" src="/js/company.js"></script>
	<script type="text/javascript" src="/js/documents.js"></script>
	<script type="text/javascript" src="/js/aside.js"></script>
	
	<!-- <script type="text/javascript" src="/js/main.js"></script> -->
</html>