<!Doctype html>
<aside class="sidebar collapse">
	<div class="sidebar-inner-wrapper">
		<header class="sidebar-header">
			<img src="/img/logo-white.svg" class="header-img">
			<span class="header-title">Админ</span>
		</header>
	<nav class="sidebar-nav">
		<ul id = 'pages' class="sidebar-items">
			<a hr = "control" data-title="Управление" class="sidebar-item slide child-ative-link sidebar-active tooltip">
				<i class="icon fa fa-sliders-h"></i>
				<div class="title">Управление</div>
			</a>
			<a hr = "company" data-title="Компании" class="sidebar-item slide tooltip">
				<i class="icon fa fa-building"></i>
				<div class="title">Компаний</div>
			</a>
			<a hr = "documents" data-title="Документы" class="sidebar-item slide tooltip">
				<i class="icon fa fa-file-alt"></i>
				<div class="title">Документы</div>
			</a>
			<a hr = "mailing" data-title="Рассылка" class="sidebar-item slide tooltip">
				<i class="icon fa fa-envelope"></i>
				<div class="title">Рассылка</div>
			</a>
		</ul>
	</nav>
	<div data-title="Сообщить о проблеме" class="report slide tooltip">
		<div class="report-border">
			<i class="report-icon fa fa-life-ring"></i>
			<span class="report-text">Сообщить о проблеме</span>
		</div>
	</div>
		<div data-title="Показать" id="sidebar_width" class="sidebar-slider slide tooltip">
			<i id="icon_arrow" class="fa fa-arrow-right" style="margin-right:0;"></i>
			<span id="text_hide" style="display:none;">Скрыть</span>
		</div>
	</div>
</aside>